{% extends 'base.html' %}

{% block content %}
<style>
    .my-grid{
        border: 1px solid black;
    }
    .my-grid-item{
        border: 1px solid black;

    }
</style>
<div class="container">

    <div class="my-grid d-flex flex-row">
        <p class="my-grid-item m-auto">item</p>
        <p class="my-grid-item m-auto">item</p>
        <p class="my-grid-item m-auto">item</p>
        <p class="my-grid-item m-auto">item</p>
        
        <p class="my-grid-item m-auto">item</p>
        
    </div>
    <div class="my-grid d-flex flex-column">
        <p class="my-grid-item m-auto">item</p>
        <p class="my-grid-item m-auto">item</p>
        <p class="my-grid-item m-auto">item</p>
        <p class="my-grid-item m-auto">item</p>
        <p class="my-grid-item m-auto">item</p>
        
    </div>
    
</div>
{% endblock %}